@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10.5rem;
  margin-bottom: 4.8rem;
  justify-self: center;
  display: none;
}

a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10.5rem;
  margin-bottom: 4.8rem;
  justify-self: center;
  display: none;
}

a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.4rem;
}

.inactive {
  display: none;
}

.desktop-menu {
  position: absolute;
  top: 6rem;
  right: 6rem;
  width: 100px;
  height: auto;
  border: 1px solid #C7C7C7;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}
.desktop-menu ul {
  list-style: none; /*Quitar los puntos de la lista*/
  padding: 0;
  margin: 0;
  /*Las 2 primeras palabaras*/
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li a {
  color: #000000;
  text-decoration: none;
  /*para que funcione el margin-bottom debe ser un display:inline-block*/
  display: inline-block;
  margin-bottom: 20px;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid #C7C7C7;
}
.desktop-menu ul li:last-child a {
  color: #ACD9B2;
  font-size: 14px;
}

@media (max-width: 640px) {
  .desktop-menu {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10.5rem;
  margin-bottom: 4.8rem;
  justify-self: center;
  display: none;
}

a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.4rem;
}

.mobile-menu {
  background-color: #FFFFFf;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul li {
  margin-bottom: 24px;
}
.mobile-menu ul li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul:nth-child(3) {
  margin-top: 550px;
}
.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.mobile-menu .sign-out {
  font-size: var(--sm);
  color: var(--hospital-green);
}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10.5rem;
  margin-bottom: 4.8rem;
  justify-self: center;
  display: none;
}

a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.4rem;
}

aside {
  background-color: #FFFFFf;
  width: 36rem;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
aside .title-container {
  display: flex;
}
aside .title-container img {
  /*flecha invertida*/
  transform: rotate(-180deg);
  margin-right: 14px;
}
aside .title-container .title {
  font-size: 18px;
  font-weight: bold;
}
aside .my-order-content .primary-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFf;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}

#shoppingCartContainer {
  padding: 0 2.4rem;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: #C7C7C7;
}

.shopping-cart p:nth-child(3) {
  font-size: 16px;
  font-weight: bold;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #F7F7F7;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  /*6 articles abajo de 03.25.21*/
  display: flex;
  flex-direction: column;
}

.order p:nth-child(2) {
  /*$560.00 se coloca hacia la derecha*/
  text-align: end;
  font-weight: bold;
}

.order p span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 640px) {
  .product-detail {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10.5rem;
  margin-bottom: 4.8rem;
  justify-self: center;
  display: none;
}

a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.4rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px; /*espaciado entre las cards*/
  place-content: center; /*centra todo los cards*/
  /*“sintetiza” justify-content y align-content en una sola propiedad, por lo que afecta los ejes x y y con solo una línea de código, mientras que la otra afecta solo el eje x.*/
  margin-top: 2rem;
}
.cards-container .product-card {
  width: 240px;
}
.cards-container .product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.cards-container .product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.cards-container .product-card .product-info figure {
  margin: 0;
}
.cards-container .product-card .product-info figure img {
  width: 35px;
  height: 35px;
}
.cards-container .product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;
}
.cards-container .product-card .product-info div p:nth-child(2) {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  color: #C7C7C7;
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .cards-container .product-card {
    width: 140px;
  }
  .cards-container .product-card img {
    width: 140px;
    height: 140px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 10.5rem;
  margin-bottom: 4.8rem;
  justify-self: center;
  display: none;
}

a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5.4rem;
}

.product-detail-close {
  background-color: #FFFFFf;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 24px;
  left: 29px;
  z-index: 2; /*aparesca encima de la imagen*/
  padding: 8px;
  border-radius: 50%;
}
.product-detail-close:hover {
  cursor: pointer;
}

#productDetail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.product-info {
  margin: 24px 24px 0 24px;
}

p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;
}

p:nth-child(2) {
  color: #C7C7C7;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 36px;
}

p:nth-child(3) {
  color: #C7C7C7;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 36px;
}

.primary-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFf;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .product-detail {
    width: 80%;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #C7C7C7;
}
nav .menu {
  display: none;
}
nav .navbar-left ul,
nav .navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
nav .navbar-left {
  display: flex;
}
nav .navbar-left .logo_navbar {
  width: 100px;
}
nav .navbar-left ul {
  margin-left: 12px;
}
nav .navbar-left ul li a,
nav .navbar-right ul li a {
  text-decoration: none;
  color: #C7C7C7;
  border: 1px solid #FFFFFf;
  padding: 8px;
  border-radius: 8px;
}
nav .navbar-left ul li a:hover,
nav .navbar-right ul li a:hover {
  text-decoration: none;
  color: #C7C7C7;
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
}
nav .navbar-right .navbar-email {
  color: #C7C7C7;
  font-size: 14px;
  margin-right: 12px;
}
nav .navbar-right .navbar-email:hover {
  color: #ACD9B2;
  cursor: pointer;
}
nav .navbar-right .navbar-shopping-cart {
  position: relative;
}
nav .navbar-right .navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: #ACD9B2;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  nav .menu {
    display: block;
  }
  nav .navbar-left ul {
    display: none;
  }
  nav .navbar-email {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
