@import "../sass/globales.scss";
@import "../sass/login.scss";

.form-container{
    @include form-container;
    .title{
        font-size:$lg;
        margin-bottom: 12px;
        text-align: center;
    }
}
.value{
    color: $very-light-pink;
    font-size: $md;
    margin: 8px 0 32px 0;
}
@media(max-width: 640px){
    .form-container{
        height: 50%;
        .title{
            text-align: start;
        }
        .form{
            height: 100%;
            justify-content: space-between;
        }
    }

}