$white:#FFFFFf;
$black:#000000;
$very-light-pink: #C7C7C7;
$text-input-field:#F7F7F7;
$hospital-green:#ACD9B2;
$sm:14px;
$md:16px;
$lg:18px;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
html{
    font-size:62.5%;
}
.logo{
    width:10.5rem;
    margin-bottom: 4.8rem;
    justify-self: center;
    display:none;
}

a{
    color: $hospital-green;
    font-size: $sm;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5.4rem;
}
